<template>
    <div v-once>
        <h3>What is this?</h3>
        <p>
        The BakkieCounter is a small web application that should support you in tracking your coffee consumption.
        It is as simple as that. No fancy features, no elaborated user interface.
        Just a simple web application.
        The code will be open-source, the use will be free of charge.<br>
        </p>
        <h3>Who cares?</h3>
        <p>
        Well, if you don't care, what are you doing here?<br>
        Apart from you, it's also us - two students who like to track their coffee consumption.
        </p>
        <h3>But why?</h3>
        When we decided to track our coffee consumption, we discovered, that no open-source (web) app is out there. 
        The app we were using, was an outdated Android application released for Android 2.7.
        Even if we wouldn't bother about the UX, the closed-source and the outdated implementation can be a potential vulnerability. And hence, we decided to implement it ourselves. 
        <h3>And what the heck is the name?</h3>
        In the Netherlands, there is this thing called "bakkie"... I guess, <a target="_blank" rel="noopener noreferrer" href="https://en.wiktionary.org/wiki/een_bakkie_doen">this</a> explains it pretty much. And that's the whole story.
        <p>Yours Sincerely,<br>
        These Two Random Students</p>
    </div>
</template>
