<template>
    <div style="text-align: center; width: 33%; margin: 0 auto;">
        <md-icon class="md-size-5x">local_cafe</md-icon>
        <br>
        <br>
        <md-card>
        <md-card-content class="md-title">
        {{ user.count }}
        </md-card-content>
        </md-card>
        <br>
        <md-button @click="increase" class="md-raised md-primary">++</md-button>
    </div>
</template>
<script>
    export default {
        name: 'Counter',
        props: {
            userId: {
                type: Number,
                default: -1
            },
            api: {
                type: String,
                default: ""
            }
        },
        data: () => ({

            // User Data
            user : {
                user_id : -1,
                mail : "",
                name : "",
                count : -1
            },

        }),
        methods: {
            increase : function () {
                this.axios.post(this.api + '/users/' + this.userId + '/entries')
                .then( response => {
                    if(response.status === 200) {
                        this.fetchUserData();
                    } else {
                        this.$emit('errorDialog', response);
                    }
                }).catch( err => {
                    this.$emit('errorDialog', err);
                });
            },
            
            fetchUserData : function () {
                this.axios.get(this.api + '/users/' + this.userId)
                .then( response => {
                    if(response.status === 200) {
                        this.user = response.data;
                    } else {
                        this.$emit('errorDialog', response);
                    }
                }).catch( err => {
                    this.$emit('errorDialog', err);
                });
            }
        },
        mounted : function () {
            this.fetchUserData();
        }
    }
</script>
