<template>
    <div>
      <p>Please try again.</p>
      <h2>Details:</h2>
      <div v-if="error != null">
      <tt>{{ error.message }}</tt>
      </div>
    </div>
</template>
<script>
    export default {
        name: 'ErrorDialog',
        data: () => ({
        }),
        props: {
            error: {
                type: Error,
                default: null
            }
        }
    }
</script>
