<template>
    <div>
        <md-empty-state 
            md-icon="person"
            md-label="You are not logged in">
            <md-button @click="toggleLoginDialog" class="md-raised md-primary">Log in</md-button>
            <md-button @click="toggleSignUpDialog" class="md-raised md-primary">Sign up</md-button>
        </md-empty-state>

        <md-dialog :md-active.sync="loginDialog">
        <md-dialog-title style="text-align:center">Log in</md-dialog-title>
        <md-dialog-content>
        <LoginDialog :api="api" @errorDialog="emitError" @userName="emitUsername"/>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-primary" @click="toggleLoginDialog">Close</md-button>
        </md-dialog-actions>
        </md-dialog>

        <md-dialog :md-active.sync="signUpDialog">
        <md-dialog-title style="text-align:center">Sign Up</md-dialog-title>
        <md-dialog-content>
        <SignUpDialog :api="api" @errorDialog="emitError" @signUpSuccessful="signUpSuccessful"/>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-primary" @click="toggleSignUpDialog">Close</md-button>
        </md-dialog-actions>
        </md-dialog>

        <md-snackbar :md-active.sync="successSnackbar">
          <span style="text-align: center; margin: 0 auto;">Sign up successful!</span>
        </md-snackbar>
    </div>
</template>
<script>
    import SignUpDialog from './SignUpDialog.vue'
    import LoginDialog from './LoginDialog.vue'
    export default {
        name: 'Login',
        components: {
            SignUpDialog,
            LoginDialog,
        },
        props: {
            api: {
                type: String,
                default: ""
            }
        },
        data: () => ({
            // dialog visibility
            loginDialog: false,
            signUpDialog: false,
            successSnackbar: false,
            
        }),
        methods: {
            emitUsername: function (username) {
                this.$emit('userName', username);
            },
            emitError: function (error) {
                this.$emit('errorDialog', error);
            },
            toggleLoginDialog: function () {
                this.loginDialog = !this.loginDialog;
            },
            toggleSignUpDialog: function () {
                this.signUpDialog = !this.signUpDialog;
            },
            signUpSuccessful: function () {
                this.toggleSignUpDialog();
                this.successSnackbar = !this.successSnackbar;
            }
        }
    }
</script>
