<template>
  <div>
    <form novalidate class="md-layout" @submit.prevent="validateUser">
      <div style="text-align:center; margin: 0 auto;" class="md-layout-item md-size-50 md-small-size-100">
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('username')">
                <label>Username</label>
                <md-input maxlength="1024" v-model="form.username" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.username.required">Username is required</span>
                <span class="md-error" v-else-if="!$v.form.username.minLength">Minimum length is 3 characters</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('password')">
                <label>Password</label>
                <md-input maxlength="1024" type="password" v-model="form.password" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.password.required">Password is required</span>
                <span class="md-error" v-else-if="!$v.form.password.minLength">Minimum length is 8 characters</span>
              </md-field>
            </div>
          </div>

        <md-button v-if="!sending" type="submit" class="md-primary" :disabled="sending">Log in</md-button>

      </div>

      <md-snackbar :md-active.sync="combinationUnknown">
          <span style="text-align: center; margin: 0 auto;">This combination of username and password is unknown to us.</span>
      </md-snackbar>
    </form>
  </div>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import {
    required,
    minLength,
    maxLength
  } from 'vuelidate/lib/validators'

  export default {
    name: 'LoginDialog',
    mixins: [validationMixin],
    props: {
        api: {
            type: String,
            default: ""
        }
    },
    data: () => ({
      form: {
        username: null,
        password: null,
      },
      sending: false,
      combinationUnknown: false,
    }),
    validations: {
      form: {
        username: {
          required,
          minLength: minLength(3),
          maxLength: maxLength(1024)
        },
        password: {
          required,
          minLength: minLength(8),
          maxLength: maxLength(1024)
        }
      }
    },
    methods: {
      getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]

        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      saveUser () {
          //Set sending to true to disable new form input
          this.sending = true
          this.axios.post(this.api + '/auth/login', {
              name : this.form.username,
              pw   : this.form.password
          }).then( response => {
              if(response.status === 200) {
                  this.$emit('userName', this.form.username);
                  this.$router.push({
                      name : 'counter',
                      params : { userId : response.data.userId }
                  });
                  } else {
                      this.$emit('errorDialog', response);
                  }
          }).catch( error => {
              if (error.response) {
                  if (error.response.status === 401) {
                      this.toggleCombinationUnknown();
                  } else {
                      this.$emit('errorDialog', error);
                  }
              } else {
                  this.$emit('errorDialog', error);
              }
          });

          this.sending = false;
      },
      validateUser () {
        this.$v.$touch()

        if (!this.$v.$invalid) {
          this.saveUser()
        }
      },
      toggleCombinationUnknown () {
        this.combinationUnknown = !this.combinationUnknown;
      }
    }
  }
</script>
