<template>
  <div>
    <form novalidate class="md-layout" @submit.prevent="validateUser">
      <div style="text-align:center; margin: 0 auto;" class="md-layout-item md-size-50 md-small-size-100">
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('email')">
                <label>Email (optional)</label>
                <md-input maxlength="1024" v-model="form.email" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.email.email">Invalid email</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('username')">
                <label>Username</label>
                <md-input maxlength="1024" v-model="form.username" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.username.required">Username is required</span>
                <span class="md-error" v-else-if="!$v.form.username.minLength">Minimum length is 3 characters</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('password')">
                <label>Password</label>
                <md-input maxlength="1024" type="password" v-model="form.password" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.password.required">Password is required</span>
                <span class="md-error" v-else-if="!$v.form.password.minLength">Minimum length is 8 characters</span>
              </md-field>
            By signing up, you are agreeing to our <a @click="togglePrivacyPolicy">privacy policy</a>.
            </div>
          </div>

        <md-button v-if="!sending" type="submit" class="md-primary" :disabled="sending">Sign Up</md-button>
        <PrivacyPolicy v-if="privacypolicy"/>
        <md-progress-spinner :md-diameter="30" :md-stroke="3" v-if="sending" md-mode="indeterminate"></md-progress-spinner>
        <md-snackbar :md-active.sync="usernameExists">
          <span style="text-align: center; margin: 0 auto;">Username already exists. Please try again.</span>
        </md-snackbar>
      </div>
    </form>
  </div>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import PrivacyPolicy from './PrivacyPolicy.vue'
  import {
    required,
    email,
    minLength,
    maxLength
  } from 'vuelidate/lib/validators'

  export default {
    name: 'SignUpDialog',
    components: {
        PrivacyPolicy
    },
    mixins: [validationMixin],
    props: {
        api: {
            type: String,
            default: ""
        }
    },
    data: () => ({
      signUpSuccessful: false,
      privacypolicy: false,
      form: {
        email: null,
        username: null,
        password: null,
      },
      sending: false,
      usernameExists: false
    }),
    validations: {
      form: {
        email: {
          email,
        },
        username: {
          required,
          minLength: minLength(3),
          maxLength: maxLength(1024)
        },
        password: {
          required,
          minLength: minLength(8),
          maxLength: maxLength(1024)
        }
      }
    },
    methods: {
      toggleSignUpSuccessful : function () {
        this.signUpSuccessful = !this.signUpSuccessful;
      },
      getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]

        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      saveUser () {
        this.sending = true

        this.axios.post(this.api + '/users/', {
            name : this.form.username,
            mail : this.form.email,
            pw   : this.form.password
        }).then( response => {
            if(response.status === 200) {
                this.toggleSignUpSuccessful();
                this.$emit('signUpSuccessful');
            } else {
                this.$emit('errorDialog', response);
            }
        }).catch( error => {
            if (error.response) {
                if (error.response.status === 409){
                    this.toggleUsernameExists();
                } else {
                    this.$emit('errorDialog', error);
                }
            }else {
                this.$emit('errorDialog', error);
            }
        });
        this.sending = false;
        this.$v.$reset()
      },
      validateUser () {
        this.$v.$touch()

        if (!this.$v.$invalid) {
          this.saveUser()
        }
      },
      toggleUsernameExists () {
        this.usernameExists = !this.usernameExists;
      },
      togglePrivacyPolicy () {
        this.privacypolicy = !this.privacypolicy;
      }
    }
  }
</script>
